body {
    background-color: rgb(29, 29, 29);
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.nav-plus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
ul {
    margin: 0;
    text-align: center;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 2rem;
    font-weight: 500;
    margin-top: 2rem;
}

ul a {
    text-decoration: none;
    color: white;
    position: relative;
}

ul li a{
    text-align: center;
}

nav ul li ul.dropdown li{
    display: block;
    margin: 0;
    padding-top: 10px;
}
nav ul li ul.dropdown{
    width: auto;
    text-align: center;
    background-color: rgb(29, 29, 29);
    position: absolute;
    padding: 20px;
    height: 100px;
    z-index: 999;
    display: none;
    transition: all 0.5s;
}
nav ul li:hover ul.dropdown{
    display: block;
}

nav ul a:hover{
    color: goldenrod;
}

nav ul a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; 
    background-color: goldenrod; 
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease; 
}

nav ul a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav ul li.current a::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
nav ul a.current::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 101;
}

.menu-icon span {
    height: 3px;
    width: 25px;
    border-radius: 20px;
    background: #ffffff;
    margin: 2px 0;
    transition: 0.4s;
}
nav ul {
    display: flex;
}

header{
    background-image: url(../../Assets/servicepagemain.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    margin-top: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.service-header{
    background-color: rgba(0, 0, 0, 0.414);
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.service-header h1{
    color: white;
    padding-top: 10%;
    font-size: 70px;
}


.services{
    height: 900px;
    background-color: rgb(255, 255, 255);
    color: goldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.services h1{
    font-size: 40px;
    color: goldenrod;
}

.services-container{
    display: flex;
    height: 450px;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 1%;
}
.services-item1{
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 80px;
    margin-right: 80px;
    background-image: url(../../Assets/services1.jpg);
    background-position: center;
    background-size: cover;
    height:100%;
}
.services-item2{
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 80px;
    margin-right: 80px;
    background-image: url(../../Assets/services2.jpg);
    background-position: center;
    background-size: cover;
    height:100%;
}
.services-item3{
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 80px;
    margin-right: 80px;
    background-image: url(../../Assets/services3.jpg);
    background-position: center;
    background-size: cover;
    height:100%;
}
.services-container2{
    text-align: center;
    flex: 1;
}
.services-container2 h1{
    color: goldenrod;
    font-size: 20px;
}
.services-container2 p{
    text-align: center;
    color: black;
    margin-left: 20%;
    margin-right: 20%;
}
.services-container2 a{
    color: goldenrod;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s;
}
.services-container2 a:hover{
    color: rgb(250, 212, 117);
}

.quote{
    background-image: url(../../Assets/quote.jpg);
    height: 650px;
    background-size: cover;
    background-position: center;
    text-align: center;
    /* margin-top: 3rem; */
}
.quote .dream-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.quote h1{
    color: goldenrod;
    margin: 80px;
}
.quote .dream-kitchen{
    flex: 1;
    color: white;
    font-size: 50px;
}
.quote button{
    background-color: goldenrod;
    cursor: pointer;
    border: none;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* border-radius: 2rem; */
    color: rgb(255, 255, 255);
    transition: background-color 0.8s ease, transform 0.5s ease;
}
.quote button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}
.footer-container{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    background-color: rgb(32, 32, 32);
    padding-top: 4%;
}

.hover-footer{
    transition: all 0.3s;
}

.hover-footer:hover{
    color: goldenrod;
}
.business h1{
    color: goldenrod;
}

.business p{
    color: white;
    line-height: 30px;
}

.contact h1{
    color: goldenrod;
}

.contact p{
    color: white;
    line-height: 30px;
}

.explore h1{
    color: goldenrod;
}

.explore p{
    color: white;
    line-height: 30px;
}

.estimate h1{
    color: goldenrod;
}
.estimate p{
    color: white;
    line-height: 30px;
}
#emailInput{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(51, 51, 51);
    border: none;
    height: 40px;
    width: 280px;
    color: white;
    border: 1px solid transparent;
}

#emailInput:hover{ 
    border-color: goldenrod;
}

.copyright{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(32, 32, 32);
    color: white;
}
.life{
    color: goldenrod;
}
.line{
    border-bottom: 1px solid rgb(97, 97, 97);
}

@media screen and (max-width: 600px){
    .nav-plus{
        height: 15px;
        justify-content: right;
        padding-top: 40px;
        padding-right: 40px;
    }
    .menu-icon {
        display: flex;
    }

    nav {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: goldenrod;
        z-index: 100; 
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul li {
        margin: 1rem 0;
    }

    nav ul li a {
        color: white;
        font-size: 2rem;
        text-decoration: none;
    }

    #menu-toggle:checked ~ nav {
        display: flex;
        transform: translateX(0); 
    }

    #menu-toggle:checked ~  button {
        display: inline-block; 
    }

    #menu-toggle:checked + .menu-icon span:nth-child(1) {
        transform: rotate(-45deg) ;
    }

    #menu-toggle:checked + .menu-icon span:nth-child(2) {
        transform: rotate(45deg) translate(-5px, -5px);
    }

    .service-header h1 {
    padding-top: 10rem;
    font-size: 4rem;
}
    
    .services{
        height: 2000px;
    }
    .services-container{
        flex-direction: column;
    }
    .services-container2{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .services-container{
        display: flex;
        height: 2000px;
        margin-top: 1%;
    }
    .services-item1{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 50px;
        margin-right: 50px;
        height: 50%;
    }
    .services-item2{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 50px;
        margin-right: 50px;
        height:500%;
    }
    .services-item3{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 50px;
        margin-right: 50px;
        height:500%;
    }

    .footer-container{
        flex-direction: column;
        height: 800px;
        text-align: center;
    }
   
}
@media (min-width: 601px) and (max-width: 899px){
.nav-plus{
        height: 15px;
        justify-content: right;
        padding-top: 40px;
        padding-right: 40px;
    }
    .menu-icon {
        display: flex;
    }

    nav {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: goldenrod;
        z-index: 100; 
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul li {
        margin: 1rem 0;
    }

    nav ul li a {
        color: white;
        font-size: 2rem;
        text-decoration: none;
    }

    #menu-toggle:checked ~ nav {
        display: flex;
        transform: translateX(0); 
    }

    #menu-toggle:checked ~  button {
        display: inline-block; 
    }

    #menu-toggle:checked + .menu-icon span:nth-child(1) {
        transform: rotate(-45deg) ;
    }

    #menu-toggle:checked + .menu-icon span:nth-child(2) {
        transform: rotate(45deg) translate(-5px, -5px);
    }

    .service-header h1 {
    padding-top: 10rem;
    font-size: 4rem;
}
    
    .services{
        height: 2000px;
    }
    .services-container{
        flex-direction: column;
    }
    .services-container2{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .services-container{
        display: flex;
        height: 2000px;
        margin-top: 1%;
    }
    .services-item1{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 50px;
        margin-right: 50px;
        height: 50%;
    }
    .services-item2{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 50px;
        margin-right: 50px;
        height:500%;
    }
    .services-item3{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 50px;
        margin-right: 50px;
        height:500%;
    }

    .footer-container{
        flex-direction: column;
        height: 800px;
        text-align: center;
    }
}
@media (min-width: 900px) and (max-width: 1199px){
     .services{
        height: 2000px;
        
    }
    .services-container{
        flex-direction: column;
    }
    .services-container2{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .services-container{
        display: flex;
        height: 2000px;
        margin-top: 1%;
    }
    .services-item1{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 50px;
        margin-right: 50px;
        height: 50%;
    }
    .services-item2{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 50px;
        margin-right: 50px;
        height:500%;
    }
    .services-item3{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 50px;
        margin-right: 50px;
        height:500%;
    }

    .footer-container{
        flex-direction: column;
        height: 800px;
        text-align: center;
    }
}
@media (min-width: 1200px) and (max-width: 1600px){
    .services{
        height: 1000px;
    }
    .services-item1{
            padding-left: 100px;
            padding-right: 100px;
            margin-left: 40px;
            margin-right: 40px;
            background-image: url(../../Assets/services1.jpg);
            background-position: center;
            background-size: cover;
            height:100%;
        }
        .services-item2{
            padding-left: 100px;
            padding-right: 100px;
            margin-left: 40px;
            margin-right: 40px;
            background-image: url(../../Assets/services2.jpg);
            background-position: center;
            background-size: cover;
            height:100%;
        }
        .services-item3{
            padding-left: 100px;
            padding-right: 100px;
            margin-left: 40px;
            margin-right: 40px;
            background-image: url(../../Assets/services1.jpg);
            background-position: center;
            background-size: cover;
            height:100%;
        }
}